.cssFromWp {
  font-size: 0.95rem;
  img[class*='wp-image-'] {
    height: auto;
    max-width: 100% !important;
  }
  figure {
    max-width: 100% !important;
  }
  p {
  }
  h1 {
    font-size: 1.875rem;
    color: black;
  }

  h2 {
    font-size: 1.5rem;
    color: black;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
    color: black;
  }

  strong,
  b {
    font-weight: 900;
    font-size: 1.2rem;
    color: black;
  }

  /* Đặt kiểu mặc định cho thẻ <i> */
  i {
    font-style: italic;
  }

  .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ol {
    list-style-type: decimal;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-inline-start: 40px;
    display: block;
  }

  a {
    cursor: pointer;
    // text-decoration: underline;
    // color: #345c00;
  }

  .no_bullets {
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 95%;
    // background-color: #f9f9f9;
    display: table;
    width: auto;
    margin: auto;
    margin-bottom: 1.5rem !important;
  }

  #toc_container {
    ul ul {
      margin-left: 1.5em;
    }
  }

  .wp-caption-text {
    font-style: italic;
    text-align: center;
    line-height: 24px;
    opacity: 0.8;
  }
}

.cssFromWpDark {
  font-size: 0.875rem;
  img[class*='wp-image-'] {
    height: auto;
    max-width: 100% !important;
  }
  figure {
    max-width: 100% !important;
  }
  p {
  }
  h1 {
    font-size: 1.875rem;
    color: white;
  }

  h2 {
    font-size: 1.2rem;
    color: white;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    color: white;
  }

  strong,
  b {
    font-weight: 900;
    font-size: 1rem;
    color: white;
  }

  /* Đặt kiểu mặc định cho thẻ <i> */
  i {
    font-style: italic;
  }

  .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ol {
    list-style-type: decimal;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-inline-start: 40px;
    display: block;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    // color: #345c00;
  }

  .no_bullets {
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 95%;
    // background-color: #f9f9f9;
    display: table;
    width: auto;
    margin: auto;
    margin-bottom: 1.5rem !important;
  }

  #toc_container {
    ul ul {
      margin-left: 1.5em;
    }
  }

  .wp-caption-text {
    font-style: italic;
    text-align: center;
    line-height: 24px;
    opacity: 0.8;
  }
}

.cssFromWp1 {
  font-size: 0.95rem;
  img[class*='wp-image-'] {
    height: auto;
    max-width: 100%;
  }
  p {
  }
  h1 {
    font-size: 1.875rem;
    color: black;
  }

  h2 {
    font-size: 1.5rem;
    color: black;
    b {
      font-size: 1.5rem;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
    color: black;
  }

  strong,
  b {
    font-weight: 900;
    font-size: 1.2rem;
    color: black;
  }

  /* Đặt kiểu mặc định cho thẻ <i> */
  i {
    font-style: italic;
  }

  .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ol {
    list-style-type: decimal;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-inline-start: 40px;
    display: block;
  }

  a {
    cursor: pointer;
    // text-decoration: underline;
    // color: #345c00;
  }

  .no_bullets {
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 95%;
    // background-color: #f9f9f9;
    display: table;
    width: auto;
    margin: auto;
    margin-bottom: 1.5rem !important;
  }

  #toc_container {
    ul ul {
      margin-left: 1.5em;
    }
  }

  .wp-caption-text {
    font-style: italic;
    text-align: center;
    line-height: 24px;
    opacity: 0.8;
  }
}

.cssFromWpDark1 {
  font-size: 0.875rem;
  img[class*='wp-image-'] {
    height: auto;
    max-width: 100%;
  }
  p {
  }
  h1 {
    font-size: 1.875rem;
    color: white;
  }

  h2 {
    font-size: 1.2rem;
    color: white;
    b {
      font-size: 1.5rem;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    color: white;
  }

  strong,
  b {
    font-weight: 900;
    font-size: 1rem;
    color: white;
  }

  /* Đặt kiểu mặc định cho thẻ <i> */
  i {
    font-style: italic;
  }

  .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ol {
    list-style-type: decimal;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-inline-start: 40px;
    display: block;
  }

  a {
    cursor: pointer;
    // text-decoration: underline;
    // color: #345c00;
  }

  .no_bullets {
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 95%;
    // background-color: #f9f9f9;
    display: table;
    width: auto;
    margin: auto;
    margin-bottom: 1.5rem !important;
  }

  #toc_container {
    ul ul {
      margin-left: 1.5em;
    }
  }

  .wp-caption-text {
    font-style: italic;
    text-align: center;
    line-height: 24px;
    opacity: 0.8;
  }
}
//Custom Responsive
@media (min-width: 374px) and (max-width: 435px) {
  .CustomResponeSive {
    background-size: contain !important;
    
  }
}

//custom RpSive
@media (min-width: 319px) and (max-width: 1023px) {
 .stickyMobiCustom {
  position: sticky !important;
 }
 .TopMobiCustom {
  top:126px;
 }
}

//key frames
@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 64px;
    opacity: 1;
  }
}

@keyframes collapse {
  from {
    height: 64px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}


